
<p><%=t :lesson1.p1 %></p>

<p><%=t :lesson1.p2 %></p>

<p><%=t :lesson1.p3 %></p>

<div class="row">
  <div class="span5 scratchpad"></div>
  <span class="help-tooltip icon-question" data-toggle="tooltip" data-original-title="<%=t :scratchpad_tooltip %>"></span>
  <div class="span5 renderpad"></div>
</div>

<div class="toBeRevealed">
  <hr>
  <p><%=t :lesson1.p4 %></p>
  <p><%=t :lesson1.p5 %></p>
  <p><%=t :lesson1.p6 %></p>
  <div class="row">
    <div class="span5 scratchpad"></div>
    <div class="span5 renderpad"></div>
  </div>
</div>


<div class="toBeRevealed">
  <hr>
  <p><%=t :lesson1.p7 %></p>
  <p><%=t :lesson1.p8 %></p>
  <p><%=t :lesson1.p9 %></p>
  <div class="row">
    <div class="span5 scratchpad"></div>
    <div class="span5 renderpad"></div>
  </div>
</div>


<div class="toBeRevealed">
  <hr>
  <p><%=t :lesson1.p10 %></p>
  <p><%=t :lesson1.p11 %></p>
  <p><%=t :lesson1.p12 %></p>
  <div class="row">
    <div class="span5 scratchpad"></div>
    <div class="span5 renderpad"></div>
  </div>
</div>


<div class="toBeRevealed">
  <hr>
  <p><%=t :lesson1.p13 %></p>
  <a class="btn btn-large btn-success" href="/lesson/2"><%=t :on_to_next_lesson %></a>
</div>
